
ScrumTool/obj/Debug/ScrumTool_MarkupCompile.lref
ScrumTool/obj/Debug/ScrumTool_MarkupCompile.lref
ScrumTool/obj/Debug/ScrumTool_MarkupCompile.cache
ScrumTool/obj/Debug/ScrumTool.pdb
ScrumTool/obj/Debug/ScrumTool.g.resources
ScrumTool/obj/Debug/ScrumTool.exe
ScrumTool/obj/Debug/ScrumTool.csprojResolveAssemblyReference.cache
ScrumTool/obj/Debug/ScrumTool.csproj.GenerateResource.Cache
ScrumTool/obj/Debug/ScrumTool.csproj.FileListAbsolute.txt
ScrumTool/bin/Debug/ScrumTool.pdb
ScrumTool/bin/Debug/ScrumTool.exe
ScrumTool/.vs/ScrumTool/v15/.suo
